---


# This playbook is to install android SDK updates in all the GO agents
- hosts: agents

  # Since we logout/login for each agent, we need to do it in serial
  # to avoid a logout during installation of one of the agent.
  serial: 1

  vars_files:
    - /opt/ansible/vault_agents
    - /opt/ansible/group_vars/agents.yml

  tasks:
  - name: Login to the Appcelerator/Axway platform
    shell: . ~/.profile && appc login --username "{{ appc_username }}" --password "{{ appc_password }}" --org-id "{{ appc_org }}"
   
  - name: Download the latest Titanium SDK
    shell: . ~/.profile && echo "y" | appc ti sdk install latest
  
  - name: Logout from the Appcelerator/Axway platform
    shell: . ~/.profile && appc logout
