- hosts: agents

  # To avoid to update all the agents in the same time, we do it in serial.
  serial: 1

  vars_files:
    - /opt/ansible/vault_agents
    - /opt/ansible/group_vars/agents.yml

  vars:
    softwareupdate_recommended_only: "{{ macos_update_recommended_only }}"

  roles:
    - aadl.softwareupdate