--- 
# This playbook is to install android SDK updates in all the agents
- hosts: agents

  vars_files:
    - /opt/ansible/vars/versions.yml
     
  tasks:
    - name: Updating packages in all agents 
      shell: echo "y" | /usr/local/bin/sdkmanager --update --channel=1

    - name: Install the latest Android Intel x86 Emulator Accelerator (HAXM installer)
      shell: echo "y" | /usr/local/bin/sdkmanager "extras;intel;Hardware_Accelerated_Execution_Manager"

    - name: Install Android API 21 Intel emulator
      shell: echo "y" | /usr/local/bin/sdkmanager "system-images;android-21;google_apis;x86_64"
    
    - name: Install Android API 22 Intel emulator
      shell: echo "y" | /usr/local/bin/sdkmanager "system-images;android-22;google_apis;x86_64"

    - name: Install Android API 23 Intel emulator
      shell: echo "y" | /usr/local/bin/sdkmanager "system-images;android-23;google_apis;x86_64"
    
    - name: Install Android API 24 Intel emulator
      shell: echo "y" | /usr/local/bin/sdkmanager "system-images;android-24;google_apis;x86_64"

    - name: Install Android API 25 Intel emulator
      shell: echo "y" | /usr/local/bin/sdkmanager "system-images;android-25;google_apis;x86_64"

    - name: Install Android API 26 Intel emulator
      shell: echo "y" | /usr/local/bin/sdkmanager "system-images;android-26;google_apis;x86_64"

    - name: Install Android API 27 Intel emulator
      shell: echo "y" | /usr/local/bin/sdkmanager "system-images;android-27;google_apis;x86"
    
    - name: Install Android API 28 Intel emulator
      shell: echo "y" | /usr/local/bin/sdkmanager "system-images;android-28;google_apis;x86_64"
