--- 
# This playbook is to install android SDK updates in all the agents
- hosts: agents
     
  tasks:
    - name: Updating Android packages list
      shell: echo "y" | /usr/local/bin/sdkmanager --update --channel=1

    - name: Install the latest platform-tools
      shell: echo "y" | /usr/local/bin/sdkmanager "platform-tools"

    - name: Install the build-tools {{ android_build_tools }}
      shell: echo "y" | /usr/local/bin/sdkmanager "build-tools;{{ android_build_tools }}"

    - name: Install Google Play services
      shell: echo "y" | /usr/local/bin/sdkmanager "extras;google;google_play_services"
      
    - name: Install Android API 21
      shell: echo "y" | /usr/local/bin/sdkmanager "platforms;android-21"

    - name: Install Android API 22
      shell: echo "y" | /usr/local/bin/sdkmanager "platforms;android-22"

    - name: Install Android API 23
      shell: echo "y" | /usr/local/bin/sdkmanager "platforms;android-23"
      
    - name: Install Android API 24
      shell: echo "y" | /usr/local/bin/sdkmanager "platforms;android-24"
      
    - name: Install Android API 25
      shell: echo "y" | /usr/local/bin/sdkmanager "platforms;android-25"
      
    - name: Install Android API 26
      shell: echo "y" | /usr/local/bin/sdkmanager "platforms;android-26"
      
    - name: Install Android API 27
      shell: echo "y" | /usr/local/bin/sdkmanager "platforms;android-27"
      
    - name: Install Android API 28
      shell: echo "y" | /usr/local/bin/sdkmanager "platforms;android-28"
